[Unit]
Description=SnappyData: OLTP + OLAP Database built on Apache Spark http://www.snappydata.io
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/snappydata/snappydata-0.5-bin/sbin/snappy-start-all.sh
ExecStop=/opt/snappydata/snappydata-0.5-bin/sbin/snappy-stop-all.sh
User=snappydata
Group=snappydata
WorkingDirectory=/opt/snappydata/
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
